/* input:invalid {
    background-color: #ffdddd;
  }
  input:valid {
    background-color: #ddffdd;
  }
  
  form:valid {
    border: 5px solid #ddffdd;
  }   */

  .invalid-text{
        color:red;
  }